<script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>

<%= form_with(model: listing, local: true, multipart: true, class: "space-y-6") do |form| %>
  <% if listing.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <strong class="font-bold"><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</strong>
      <ul class="mt-2 list-disc list-inside">
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Please provide as much detail about the animal as possible, and upload at least one image (up to 3 images can be added).
  </div>

  <div class="text-sm text-gray-500 mb-3">
    <p>Fields marked with <span class="text-red-400">*</span> are required.</p>
  </div>

  <div>
    <div class="flex">
      <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.text_field :title, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.text_area :description, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label "Pet's name", class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.text_field :name, required: false, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :gender, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :gender, options_for_select(ListingsHelper::GENDER), { prompt: "Choose one" }, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :species, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :species, options_for_select(ListingsHelper::SPECIES), { prompt: "Choose one" }, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :breed_1, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :breed_1, options_for_select(ListingsHelper::DOG_BREEDS), { prompt: "Choose one" }, id: "breed-1", required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div id="breed-2" class="hidden">
    <div class="flex">
      <%= form.label :breed_2, class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :breed_2, options_for_select(ListingsHelper::DOG_BREEDS), { prompt: "Choose one" }, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :color_1, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :color_1, options_for_select(ListingsHelper::COLORS), { prompt: "Choose one"}, id: "color-1", required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div id="color-2" class="hidden">
    <div class="flex">
      <%= form.label :color_2, class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :color_2, options_for_select(ListingsHelper::COLORS), { prompt: "Choose one"}, id: "color-2", class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div id="color-3" class="hidden">
    <div class="flex">
      <%= form.label :color_3, class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :color_3, options_for_select(ListingsHelper::COLORS), { prompt: "Choose one"}, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="flex">
    <div>
      <div class="mb-2">
        <button type="button" id="upload_widget" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Upload Images
        </button>
      </div>

      <%= form.hidden_field :cloudinary_urls, id: "cloudinary-urls" %>
    </div>
  </div>

  <div>
    <%= form.hidden_field :status, value: "active" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
  </div>
<% end %>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {

    // ---------------------------------------- //
    // ------- CLOUDINARY UPLOAD WIDGET ------- //
    // ---------------------------------------- //
    const uploadWidgetButton = document.getElementById('upload_widget');
    const cloudinaryUrlsField = document.getElementById('cloudinary-urls');

    uploadWidgetButton.addEventListener('click', function() {
      cloudinary.openUploadWidget({
        cloud_name: 'dtyadd1w5',
        upload_preset: 'pr_unsigned',
        multiple: true,
        sources: ['local', 'url', 'camera'],
        folder: 'petregistry', // Optional: Folder to store images
      }, (error, result) => {
        if (!error && result && result.event === "success") {
          const urls = result.info.secure_url;
          let currentUrls = cloudinaryUrlsField.value;
          cloudinaryUrlsField.value = currentUrls ? currentUrls + ',' + urls : urls;
        }
      });
    });

    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
      $('.preview').html(
        $.cloudinary.image(data.result.public_id,
          { format: data.result.format, version: data.result.version,
            crop: 'fill', width: 150, height: 100 })
      );
      $('.image_public_id').val(data.result.public_id);
      return true;
    });

    $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
      $('.progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%');
    });

    // ---------------------------------------- //
    // -------- BREED & COLOR DROPDOWNS ------- //
    // ---------------------------------------- //
    const breed1 = document.getElementById("breed-1");
    const breed2 = document.getElementById("breed-2");
    const color1 = document.getElementById("color-1");
    const color2 = document.getElementById("color-2");
    const color3 = document.getElementById("color-3");

    breed1.addEventListener("change", function() {
      if (breed1.value !== "Choose one") {
        breed2.classList.remove("hidden");
      } else {
        breed2.classList.add("hidden");
        breed2.value = null;
      }
    });

    color1.addEventListener("change", function() {
      if (color1.value !== "Choose one") {
        color2.classList.remove("hidden");
      } else {
        color2.classList.add("hidden");
        color2.value = null;
      }
    });

    color2.addEventListener("change", function() {
      if (color2.value !== "Choose one") {
        color3.classList.remove("hidden");
      } else {
        color3.classList.add("hidden");
        color3.value = null;
      }
    });
  });
</script>