<%= form_with(model: listing, local: true, multipart: true, class: "space-y-6") do |form| %>
  <% if listing.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <strong class="font-bold"><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</strong>
      <ul class="mt-2 list-disc list-inside">
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Use this form to report a pet as missing. Please provide as much information as possible.
  </div>

  <div class="text-sm text-gray-500">
    <p>Fields marked with <span class="text-red-400">*</span> are required.</p>
  </div>

  <div class="flex">
    <div>
      <div class="mb-2">Upload a photo:</div>
      <%= form.file_field :image, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300" %>
    </div>
  </div>

  <div>
    <div class="flex">
      <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.text_field :title, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.text_area :description, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label "Pet's name", class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.text_field :name, required: false, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :gender, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :gender, options_for_select(ListingsHelper::GENDER), { prompt: "Choose one" }, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :species, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :species, options_for_select(ListingsHelper::SPECIES), { prompt: "Choose one" }, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :breed_1, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :breed_1, options_for_select(ListingsHelper::DOG_BREEDS), { prompt: "Choose one" }, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :breed_2, class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :breed_2, options_for_select(ListingsHelper::DOG_BREEDS), { prompt: "Choose one" }, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :color_1, class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :color_1, options_for_select(ListingsHelper::COLORS), { prompt: "Choose one"}, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :color_2, class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :color_2, options_for_select(ListingsHelper::COLORS), { prompt: "Choose one"}, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label :color_3, class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :color_3, options_for_select(ListingsHelper::COLORS), { prompt: "Choose one"}, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <%= form.hidden_field :status, value: "active" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
  </div>
<% end %>
