<script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>
<%= javascript_include_tag "reports/dropdowns" %>
<%= render partial: "shared/cloudinary_widget", formats: [:js, :erb] %>

<%= form_with(model: report, local: true, multipart: true, class: "space-y-6", id: "lost-pet-report-form") do |form| %>
  <% if report.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <strong class="font-bold"><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</strong>
      <ul class="mt-2 list-disc list-inside">
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-05rem">
    Please provide as as many details as possible and upload at least 1 to 3 photos of the animal.
  </div>
  <div>
    If the animal's breeds are unknown, please provide your best guess based on visual characteristics and include a thorough description.
  </div>
  <div class="text-sm text-gray-500 mb-3">
    <p>Fields marked with <span class="text-red-400">*</span> are required.</p>
  </div>
  <div>
    <div class="flex">
      <%= form.label "Title:", class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.text_field :title, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label "Description:", class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.text_area :description, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label "Pet's name, if known:", class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.text_field :name, required: false, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label "Sex:", class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :gender, options_for_select(ReportsHelper::GENDER), { prompt: "Choose one" }, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label "Species:", class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :species, options_for_select(ReportsHelper::SPECIES), { prompt: "Choose one" }, required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label "Breed 1:", class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :breed_1, options_for_select(ReportsHelper::DOG_BREEDS), { prompt: "Choose one" }, id: "breed-1", required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div id="breed-2" class="hidden">
    <div class="flex">
      <%= form.label "Breed 2:", class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :breed_2, options_for_select(ReportsHelper::DOG_BREEDS), { prompt: "Choose one" }, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div>
    <div class="flex">
      <%= form.label "Color 1:", class: "block text-sm font-medium text-gray-700" %>
      <span class="ml-1 text-red-400">*</span>
    </div>
    <%= form.select :color_1, options_for_select(ReportsHelper::COLORS), { prompt: "Choose one"}, id: "color-1", required: true, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div id="color-2" class="hidden">
    <div class="flex">
      <%= form.label "Color 2:", class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :color_2, options_for_select(ReportsHelper::COLORS), { prompt: "Choose one"}, id: "color-2", class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div id="color-3" class="hidden">
    <div class="flex">
      <%= form.label "Color 3:", class: "block text-sm font-medium text-gray-700" %>
    </div>
    <%= form.select :color_3, options_for_select(ReportsHelper::COLORS), { prompt: "Choose one"}, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="flex">
    <div>
      <div class="mb-2">
        <button id="cloudinary-widget" type="button" class="cloudinary-upload inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Upload Images
        </button>
        <%= form.hidden_field :image_urls, id: "cloudinary-images", multiple: true %>
        <div id="upload-progress" class="hidden">
          <progress id="progress-bar" value="0" max="100" class="hidden"></progress>
        </div>
        <div id="image_preview"></div>
      </div>
    </div>
  </div>

  <div>
    <%= form.hidden_field :status, value: "active" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
  </div>
<% end %>
