<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold text-blue-600 mb-6">Lost Pets</h1>
  <p class="text-green-500 mb-4"><%= notice %></p>

  <div id="reports" class="space-y-4">
    <% @reports.each do |report| %>
      <div class="p-4 bg-white rounded-lg shadow flex">
        <div>
          <!-- Display the image -->
          <% if report.images.any? &:attached? %>
            <%= image_tag report.images.first.url(width: 200, crop: :fill), class: "mr-5" %>
          <% else %>
            No image available
          <% end %>
        </div>
        <div>
          <!-- Display the title -->
          <h2 class="text-xl font-semibold"><%= report.title %></h2>

          <p class="text-gray-500 text-sm mt-2">
            Last updated: <%= report.updated_at.strftime("%B %d, %Y, %H:%M %p") %>
          </p>

          <!-- Display a truncated description -->
          <p class="text-gray-700 mt-2">
            <%= truncate(report.description, length: 100) %>
          </p>

          <!-- Show link -->
          <p class="mt-4">
            <%= link_to "Read more", report, class: "text-blue-500 hover:underline" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-6">
    <%= link_to "Report a lost pet", new_report_path, class: "inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600" %>
  </div>
</div>