<div class="container mx-auto p-4">
  <% if @report.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <strong class="font-bold"><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</strong>
      <ul class="mt-2 list-disc list-inside">
        <% @report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="p-6 bg-white rounded-lg shadow-lg">
    <!-- Title -->
    <h2 class="text-2xl font-semibold mb-4 text-blue-600"><%= @report.title %></h2>

    <!-- Name -->
    <% if @report.name.present? %>
      <div class="mb-4">
        <h3 class="text-lg font-semibold text-gray-800">Name:</h3>
        <p class="text-gray-700"><%= @report.name %></p>
      </div>
    <% end %>

    <!-- Description -->
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-800">Description:</h3>
      <p class="text-gray-700"><%= @report.description %></p>
    </div>

    <!-- Species -->
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-800">Species:</h3>
      <p class="text-gray-700"><%= @report.species %></p>
    </div>

    <!-- Breed 1 and Breed 2 -->
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-800">Breed:</h3>
      <% [@report.breed_1, @report.breed_2].uniq.each do |breed| %>
        <p class="text-gray-700"><%= breed %></p>
      <% end %>
    </div>

    <!-- Colors -->
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-800">Colors:</h3>
      <% [@report.color_1, @report.color_2, @report.color_3].uniq.each do |color| %>
        <p class="text-gray-700"><%= color %></p>
      <% end %>
    </div>

    <!-- Archived Date -->
    <% if @report.archived_at.present? %>
      <div class="mb-4">
        <h3 class="text-lg font-semibold text-gray-800">Archived At:</h3>
        <p class="text-gray-700"><%= @report.archived_at.strftime("%B %d, %Y") %></p>
      </div>
    <% end %>

    <!-- Created and Updated Dates -->
    <div class="mt-6">
      <h3 class="text-lg font-semibold text-gray-800">Timestamps:</h3>
      <p class="text-gray-700">Created at: <%= @report.created_at.strftime("%B %d, %Y, %H:%M %p") %>
      <% if @report.created_at != @report.updated_at %>
        <p class="text-gray-700">Last updated: <%= @report.updated_at.strftime("%B %d, %Y, %H:%M %p") %>
      <% end %>
    </div>

    <!-- Images -->
    <% if @report.images.attached? %>
      <div class="mt-6">
        <h3 class="text-lg font-semibold text-gray-800 w-100">Images:</h3>
        <div class="flex flex-wrap mt-4">
          <% @report.images.each do |image| %>
            <img src="<%= image.url %>" class="object-cover rounded-lg shadow-lg mr-4 mb-4" width=200>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-6">
    <%= link_to "Edit Report", edit_report_path(@report), class: "inline-block px-4 py-2 bg-yellow-500 text-white font-semibold rounded hover:bg-yellow-600" %>
    <%= link_to "Back to Reports", reports_path, class: "inline-block ml-4 px-4 py-2 bg-gray-500 text-white font-semibold rounded hover:bg-gray-600" %>
  </div>
</div>
