<!DOCTYPE html>
<html>
  <head>
    <title>Petregistry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>

    <link rel="stylesheet" href="/vite-dev/assets/application-23aabef0.css" data-turbo-track="reload">
    <script src="/vite-dev/assets/application-cda856d1.js" crossorigin="anonymous" type="module"></script>
  </head>

  <body data-theme="h-full nord">
    <%= render "shared/nav" %>

    <div class="container mx-auto mt-10 px-5 flex justify-center pb-6">
      <% if flash[:notice] %>
        <%= render "shared/notice", notice: notice %>
      <% end %>
      <% if flash[:error] || flash[:alert] %>
        <%= render "shared/alert", alert: alert %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
